@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #ffcd9e;
    --black: #000;
    --black-text: #282828;
    --black-shade: #484848;
    --white-color: #fff;
}

body {
    font-family: Inter;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
.margin-bottom20 {
    margin-bottom: 20px;
}
.section {
    flex-wrap: wrap;
    background-color: var(--primary-color);
    min-height: 475px;
    height: auto;
}
.left {
    width: 55%;
    height: 100%;
}

.leftInnerContainer {
    max-width: 550px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 70px;
    text-align: left;
}
.left .leftInnerContainer > h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: var(--black-text);
}
.left .leftInnerContainer > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    max-width: 430px;
    width: 100%;
    color: var(--black-shade);
}
.left .leftInnerContainer > h3 {
    font-size: 20px;
    font-weight: 800
}
.left .leftInnerContainer form input {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 8px;
    border: 3px solid #000;
    color: #888888;
    max-width: 325px;
    width: 100%;
}
.left .leftInnerContainer form {
    gap: 10px;
}
.left .leftInnerContainer form button {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: var(--black);
    color: var(--white-color);
    width: 175px;
    border-radius: 8px;
    border: none;
}
.left .leftInnerContainer > h5 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width:325px;
    color: var(--white-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.right {
    width: calc(100% - 55%);
    height: 100%;
}
.DummyImageContainer {
    max-width: 453px;
    margin: auto;
}

.footer {
    width: 100vw;
    max-height: calc(100vh - 475px);
    height: auto;
    padding: 10px;
    background-color: var(--black-text);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    justify-content: space-around;
    align-items: center;
}

.leftSection {
    text-align: left;
}

.logoImgContainer {
    width: 25px;
    height: 25px;
}

.logoContainer {
    justify-content: end;
    gap:5px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .left, .right{
        width: 100%;
    }
    .left .leftInnerContainer {
        padding-left: 0;
    }
    .footer {
        font-size: 16px;
        line-height: 27px;
    }
    .left .leftInnerContainer > h1 {
        font-size: 37px;
        line-height: 45px;
    }
    .left .leftInnerContainer > p {
        font-size: 18px;
        line-height: 25px;
    }
    .left .leftInnerContainer > h5 {
        font-size: 18px;
        width: 100%;
    }
    .left .leftInnerContainer form button {
        font-size: 18px;
        width: 215px;
    }
}

@media (max-width: 500px) {
    .left {
        padding: 20px;
    }
    .leftInnerContainer {
        padding-top: 20px;
    }
    .left .leftInnerContainer > h1 {
        font-size: 31px;
        line-height: 40px;
    }
    .left .leftInnerContainer > p {
        font-size: 18px;
        line-height: 27px;
    }
    .left .leftInnerContainer > h3 {
        font-size: 18px;
    }
    .left .leftInnerContainer > h5 {
        width: 100%;
    }
    .left .leftInnerContainer form {
        flex-wrap: wrap;
    }
    .left .leftInnerContainer form input {
        font-size: 15px;
        padding: 10px 12px;
    }
    .left .leftInnerContainer form button {
        font-size: 15px;
        width: 160px;
        height: 35px;
    }
    .DummyImageContainer {
        height: 350px;
    }
    .footer {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }
}